.about-container {
    max-width: 1100px;
    margin: 30px auto;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

/* Heading styling */
.about-container h1, h2 {
    color: #2c3e50;
    margin-bottom: 25px;
    letter-spacing: 1.5px;
    text-align: center;
}

/* Paragraph styling */
p {
    line-height: 1.75;
    color: #34495e;
    margin-bottom: 20px;
    text-align: justify;
    text-align: center;
}

/* Team members layout */
.team-members {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin: 40px;
}

/* Individual team member styling */
.team-member {
    flex: 1 1 calc(25% - 30px);
    padding: 25px;
    background-color: #f0f4f8;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-member:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .team-member {
        flex: 1 1 calc(50% - 30px); 
    }
    h1 {
        font-size: 2rem;
    }
}

.team-member-photo {
    width: 150px;         
    height: 150px;         
    object-fit: cover;     
    border-radius: 12px;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}
.higher-up-photo {
    width: 150px;     
    height: 150px;        
    object-fit: cover;  
    object-position: 50% 12%;
    border-radius: 12px;   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.team-member p {
    text-align: center;
    margin: 0;
}

.about-footer p{
    text-align: center;
}

.section-title {
    padding-top: 20px;
    font-size: 1.7rem;
    font-weight: bold;
}

.steps-list { 
    width: fit-content;
    margin: 0 auto;
    padding: 0;
}

.steps-list .step {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.step{
    color: #40B7C1;

}

.steps-list p {
    margin: 0; 
    text-align: left;
}

.step {
    margin-bottom: 12px;
    color: #40B7C1;
}

.step-number {
    font-size: 1.5rem; 
    font-weight: bold; 
    color: #40B7C1;
    margin-right: 10px; 
    min-width: 30px;  
  }

.mission-points {
    list-style-position: inside;  
    width: fit-content;
    margin: 0 auto;
    text-align: left;
    padding: 0;
}